@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

#main{
  max-width: 1080px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  background-image: url("../images/bg-index.jpg");
  background-size: 100%;
  background-repeat:no-repeat;
  background-clip: border-box;
  background-attachment: scroll;
  background-color: rgb(246, 244,	219);
  font-size: 16.55pt;
  scroll-behavior: smooth;
}

h1{
  font-size: 0px;
}

h2{
  font-size: 57.4pt;
  margin-bottom: 0px;
}

#blizhashie{
  position: absolute;
  left: 36%;
  top: 167%;
  font-size: 24pt;
  font-weight: 400;
  color: rgb(234, 87, 44);
}

h3{
  font-size: 27.16pt;
  margin-top: 0px;
  margin-bottom: 25pt;
}

h4{
  font-size: 48pt;
  color: rgb(234, 87, 44);
  font-weight: 900;
  margin-left: 25%;
  margin-top: 0;
  margin-bottom: 0;
}

h5{
  font-size: 38.08pt;
  color: rgb(149, 201, 218);
  margin-left: 25%;
  margin-top: 0;
  margin-bottom: 0;
}

h6{
  font-size: 18.07pt;
  margin-bottom: 0;
  margin-top: 0;
}

header img{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

nav {
  color: white;
  font-weight: 500;
  width: 75%;
  position: absolute;
  top: 5;
  right: 5%;
  margin: 0 auto;
}

nav > ul {
  margin-top: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr 1fr;
  text-align: center;
  z-index: +1;
}

nav ul {
  padding-left: 0;
}

ul > li {
  display: inline-block;
  position: relative;
  font-size: 20pt;
}

nav a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 5px;
}

nav a:hover {
  background-color: rgba(128, 17, 210, 0.8);
  border-radius: 5px;
}

#repertuar{
  position: absolute;
  top: 199%;
  width: 90%;
  margin: 0 auto;
}

#repertuar h3{
  font-size: 33.98pt;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 0;
  margin-bottom: 0;
}

#blue{
  background-color: rgb(149, 201, 218);
  padding-left: 5px;
}

th{
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

#logo-main{
  width: 75%;
  padding-top: 50px;
}

#welcome{
  width: 90%;
  position: absolute;
  top: 90%;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.repertuar{
  max-width: 187px;
  max-height: 31px;
  padding-top: 3%;
  position: relative;
  display: inline-block;
}

.data{
  color: rgb(234, 87, 44);
  font-weight: 600;
}

.time{
  font-weight: 600;
}

table{
  text-align: center;
  position: absolute;
  left: 25%;
  background-color: rgb(247, 243, 216);
}

table td{
  padding-left: 15px;
  padding-right: 15px;
}

.name{
  text-align: left;
}

.yellow{
  background-color: rgb(247, 243, 216);
}

.light{
  background-color: rgb(251, 249, 236);
}

.afisha{
  max-width: 286px;
  max-height: 286px;
}

.blue-more, .orange-blue{
  max-width: 14px;
  max-height: 12px;
}

.kupit-bilet{
  max-width: 286px;
  max-height: 46px;
}

#phone a{
  text-decoration: none;
  color: rgb(0,0,0);
  font-size: 64.37pt;
  font-weight: 999;
}

#contact a{
  text-decoration: none;
  color: rgb(0,0,0);
  font-size: 18pt;
  font-weight: 400;
}

.change .blue-repertuar{
  display: none;
  position: absolute;
  right: 2.45%;
  max-width: 187px;
  max-height: 31px;
  padding-top: 0.8%;
  z-index: 99;
}

.kb-page{
  max-width: 429px;
  max-height: 69px;
  position: absolute;
  left: 39%;
  top: 150%;
}

.change:hover .blue-repertuar{
  display: inline;
}

.change-page .blue-kb-page{
  display: none;
  position: absolute;
  left: 39%;
  top: 148.4%;
  max-width: 429px;
  max-height: 69px;
  padding-top: 0.8%;
  z-index: 99;
}

.change-page:hover .blue-kb-page{
  display: inline;
}

#return a{
  position: absolute;
  top: 92%;
  left: 37%;
  font-weight: 500;
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: rgb(234, 87, 44);
  border-radius: 15px;
  padding-left: 15px;
  padding-right: 15px;

}

#return a:hover{
  background-color: rgb(149, 201, 218);
}

#spectacli{
  position: absolute;
  top: 280%;
  left: 15%;
  max-width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 25px 25px;
  grid-template-areas:
    "mamasha s7-40 tri-plus-kot"
    "s7-42 bichcki svadba"
    "priatnogo crazy-day ."
    "phone phone phone";
}

#spectacli p{
  max-width: 286px;
  padding-top: 0;
  margin-top: 0;
}

#mamasha{
  grid-area: mamasha;
}

#tri-plus-kot{
  grid-area: tri-plus-kot;
}

#s7-40{
  grid-area: s7-40;
}

#s7-42{
  grid-area: s7-42;
}

#svadba{
  grid-area: svadba;
}

#bichcki{
  grid-area: bichcki;
}

#crazy-day{
  grid-area: crazy-day;
}

#phone{
  grid-area: phone;
  position: absolute;
  left: 31%;
}

#phones img{
  margin-bottom: 15px;
}

#contact{
  position: absolute;
  top: 635%;
  left: 5%;
}

#location img{
  margin-bottom: 200px;
}

#contact-spectacli{
  position: absolute;
  top: 310%;
  left: 5%;
}

#e-mail img{
  margin-top: 25px;
  margin-bottom: 25px;
  max-height: 25px;
}

#location,#location-spectacli img{
  height: 50px;
}

#location-spectacli img{
  margin-bottom: 100px;
}

#s7-40-page{
  background-image: url("../images/bg-7-40.jpg");
  background-size: 100%;
  background-repeat:no-repeat;
  background-clip: border-box;
  background-attachment: scroll;
}

#s7-42-page{
  background-image: url("../images/bg-7-42.jpg");
  background-size: 100%;
  background-repeat:no-repeat;
  background-clip: border-box;
  background-attachment: scroll;
}

#bichcki-page{
  background-image: url("../images/bg-bichcki.jpg");
  background-size: 100%;
  background-repeat:no-repeat;
  background-clip: border-box;
  background-attachment: scroll;
}

#mamasha-page{
  background-image: url("../images/bg-mamasha.jpg");
  background-size: 100%;
  background-repeat:no-repeat;
  background-clip: border-box;
  background-attachment: scroll;
}

#svadba-page{
  background-image: url("../images/bg-svadba.jpg");
  background-size: 100%;
  background-repeat:no-repeat;
  background-clip: border-box;
  background-attachment: scroll;
}

#priatnogo-page{
  background-image: url("../images/bg-priatnogo.jpg");
  background-size: 100%;
  background-repeat:no-repeat;
  background-clip: border-box;
  background-attachment: scroll;
}

#crazy-day-page{
  background-image: url("../images/bg-crazy-day.jpg");
  background-size: 100%;
  background-repeat:no-repeat;
  background-clip: border-box;
  background-attachment: scroll;
}

#tri-plus-kot-page{
  background-image: url("../images/bg-tri-plus-kot.jpg");
  background-size: 100%;
  background-repeat:no-repeat;
  background-clip: border-box;
  background-attachment: scroll;
}

.blizhashie{
  position: absolute;
  left: 29%;
  top: 180%;
  font-size: 22px;
}

.blizhashie td{
  padding-bottom: 4px;
  padding-top: 4px;
  padding-left: 20px;
  padding-right: 20px;
}

#row-2{
  background-color: rgb(251, 249, 236);
}



/*--------------------------------------------CONSTRUCTION*/
/*#construction-1{
  position: absolute;
  top: 25%;
  font-size: 24.5pt;
  color: rgb(255, 255, 255);
  background-color: rgb(0,0,0);
  border-radius: 10px;
  border: 2px solid rgb(0,0,0);
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 700;
  margin-left: 20%;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

#construction-2{
  position: absolute;
  top: 45%;
  font-size: 24.5pt;
  color: rgb(255, 255, 255);
  background-color: rgb(0,0,0);
  border-radius: 10px;
  border: 2px solid rgb(0,0,0);
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 700;
  margin-left: 20%;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

#construction-3{
  position: absolute;
  top: 65%;
  font-size: 24.5pt;
  color: rgb(255, 255, 255);
  background-color: rgb(0,0,0);
  border-radius: 10px;
  border: 2px solid rgb(0,0,0);
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 700;
  margin-left: 20%;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}*/


#construction-1{
font-size: 0;
}
